.cont{
  padding: 2% 10%;
}
.card-cont{
  margin-bottom: 2em;
  background-color: whitesmoke;
  border-radius: 0.8em;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  .sp{
    background-image: url(../../../assets/Spotify-logotipo.jpg);
  }
  .cc{
    background-image: url(../../../assets/cinecritic.png);
  }
  .img{
    width: calc(100% - 1px);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid black;
  }
  .card-body{
    padding: 5%;
    h2{
      margin-top: 1em;
      text-align: center;

    }
  }
  @media only screen and (min-width: 576px) {
    .img{
      height: clamp(300px, 15vw, 400px);
    }
  }
}
.slider-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  position: relative;
  margin-left: 4px;

  &:before {
    content: '';
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0;
    left: 0;
    //top: 50%;
    //transform: translatey(-50%);
    bottom: -1px;
    transition: .2s;
  }

  &:hover:before { width: 100%; }
}
