.card1{
  -webkit-clip-path: polygon(18% 0, 100% 2%, 100% 97%, 82% 100%, 0 97%, 0 2%);
clip-path: polygon(18% 0, 100% 2%, 100% 97%, 82% 100%, 0 97%, 0 2%);
background-color: whitesmoke;
margin-top: 50px;
}
.cont{
  padding: 2% 10%;

}
*{
  transition: ease-in-out .7s;
  .content{
    transition-delay: 0.5s;
    .synopsis{
      transition-delay: 0.6s;
    }
  }
}
/*.card-cont{
  margin-bottom: 2em;
  background-color: whitesmoke;
  border-radius: 0.8em;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  .sp{
    background-image: url(../../../assets/Spotify-logotipo.jpg);
  }
  .cc{
    background-image: url(../../../assets/cinecritic.png);
  }
  .img{
    width: calc(100% - 1px);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid black;
  }
  .card-body{
    padding: 5%;
    h2{
      margin-top: 1em;
      text-align: center;

    }
  }
  @media only screen and (min-width: 576px) {
    .img{
      height: clamp(300px, 15vw, 400px);
    }
  }
}
*/
.header{
  font-size: 2.8em;
  line-height: 1.1;
  letter-spacing: -.02em;
  margin: 1em auto .5em;

  color: black;
}
.card-cont{
  color: black;
  margin-top: 3em;
  .card-title{
    text-transform: uppercase;
    font-size: clamp(2em, 8vw, 7em);
    text-align: center;
    margin-bottom: 1em;
  }
  .card-text{
    font-size: 1.3em;
    color: rgb(179, 179, 179);
  }
  .img{
    margin: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    width: clamp(180px, 40vw, 380px);
    height: clamp(180px, 40vw, 380px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .sp{
    background-image: url(../../../assets/SpotifyHP.jpg);
  }
  .cc{
    background-image: url(../../../assets/cinecritic.png);
  }
}
.slider-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  position: relative;
  margin-left: 4px;

  &:before {
    content: '';
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0;
    left: 0;
    //top: 50%;
    //transform: translatey(-50%);
    bottom: -1px;
    transition: .2s;
  }

  &:hover:before { width: 100%; }
}
.spacing{
  height: 50px;
}
/* Global CSS and Sass mixins defined in codepen.io/jsulpis/pen/ExdxLgM */

.movie-card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  color: white;
  position: relative;
  border-radius: 0.6em;
  overflow: hidden;
  font-size: 140%;
  max-width: 90vw;
  aspect-ratio: 16/9;
  transition-duration: 1s;
  transition-delay: .2s;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle at 80% -150%,
      transparent 60%,
      rgba(0, 0, 0, 0.5)
    );
    mix-blend-mode: overlay;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  max-width: 90vw;
  aspect-ratio: 16/9;
  z-index: 1;
  position: absolute;
  top: calc(100% - 4em);
  left: min(3em, 8vmin);
  right: min(3em, 8vmin);
  text-align: left;

  > * {
    position: relative;
    will-change: transform;
  }
}

h1 {
  font-size: 2em;
  color: inherit;
  margin: 0;
}


.synopsis {
  text-shadow: 0 0 3px black;
  opacity: 0;
  font-size: 0.8em;
  line-height: 1.4;
  margin-block: 0.75em;
}


.movie-card-hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: scale(1.03);
  .content{
    top: min(3em, 8vmin);
  }

  .synopsis{
    overflow-y: scroll;
    height: 70%;
    opacity: 1;
    &::-webkit-scrollbar {
      display: none;
  }
  }
  img {
    transition-delay: 0s;
    -webkit-filter: blur(14px);
    filter: blur(14px);
    transform: scale(1.03);
  }
}

