main{
  padding: 2% 5%;
  .text{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-width: 22em;
    color: #4c4c4c;
    font-size: 15px;
    padding-bottom: 1.5em;
}
.subtitle{
  color: #4c4c4c;
  margin-bottom: 0.5em;
  font-size: 1.4em;
  font-weight: 400;
}
}