.spacing{
  height: 50px;
}

div{
  -webkit-clip-path: polygon(18% 0, 100% 16%, 100% 100%, 0 100%, 0 16%);
  clip-path: polygon(18% 0, 100% 16%, 100% 100%, 0 100%, 0 16%);
background-color: whitesmoke;
}
