@import "bootstrap/scss/bootstrap";

.text{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #555555;
  font-size: 15px;
  padding-bottom: 1.5em;
  @media only screen and (min-width: 576px) {
    font-size: clamp(15px, 2vw, 22px);
  }
}
.subtitle{
  color: #4c4c4c;
  margin-bottom: 0.5em;
  font-size: 1.4em;
  font-weight: 400;
  @media only screen and (min-width: 576px) {
    font-size: clamp(18px, 3vw, 28px);
  }
}

@font-face {
  font-family: 'PPMori';
  src: url('assets/Fonts/PPMori-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'PPMori';
  src: url('assets/Fonts/PPMori-SemiBold.otf') format('truetype');
  font-weight: 600;
}
:root {
    font-family: 'PPMori', sans-serif;
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  line-height: 1.5;
  font-weight: 400;
  background: var(--greyLight-1);
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;

}

/*.owl-nav{
  text-align: end!important;
  margin-right: 1em;
}

.owl-prev, .owl-next {
  background-color: transparent !important;
  font-size: 23px!important;
  color: black!important;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.owl-dots{
  text-align: center!important;
  width: 60%;
  margin: -2em auto 5% 0;
}

.owl-dot{
  margin-left: .7em;
}*/
.cont{
  max-width: 960px;
  margin: auto;
}
