<div class="skill cont">
  <div class="header">Skills</div>
  <div class="my-3 d-block d-flex row row-cols-4">
    <div class="my-3 col">
    <img src="../../../assets/html.jpg" alt="html" class="img-fluid">
  </div>
  <div class="my-3 col">
    <img src="../../../assets/css.jpg" alt="css" class="img-fluid">
  </div>
  <div class="my-3 col">
    <img src="../../../assets/Js.jpg" alt="js" class="img-fluid">
  </div>
  <div class="my-3 col">
    <img src="../../../assets/bootstrap.jpg" alt="bootstrap" class="img-fluid">
  </div>
  <div class="my-3 col">
    <img src="../../../assets/scss.jpg" alt="sass" class="img-fluid">
  </div>
  <div class="my-3 col">
      <img src="../../../assets/react.jpg" alt="react" class="img-fluid">
    </div>
    <div class="my-3 col">
      <img src="../../../assets/angular.jpg" alt="angular" class="img-fluid">
    </div>
    <div class="my-3 col">
      <img src="../../../assets/ts.jpg" alt="typescript" class="img-fluid">
    </div>
  </div>
  <div class="header">Skills</div>
</div>
