.about{
  background-color: white;
  padding: 2% 5%;
  //box-shadow: 0 10px 50px 50px rgb(50, 50, 93, 0.25);
  &_header{
      font-size: 2.8em;
      line-height: 1.1;
      letter-spacing: -.02em;
      margin-bottom: .5em;
      color: #111414;
  }
  p{
      border-bottom: 1px solid #cbcbcb;
  }
}
