.spacing{
  height: 2.9em;
  background-color: whitesmoke;
}
.about{
  background-color: whitesmoke;
  padding: 0% 5% 5%;
  margin-top: -1px;
  //box-shadow: 0 10px 50px 50px rgb(50, 50, 93, 0.25);
  -webkit-clip-path: polygon(100% 0, 100% 97%, 82% 100%, 0 97%, 0 0);
  clip-path: polygon(100% 0, 100% 97%, 82% 100%, 0 97%, 0 0);
  @media only screen and (min-width: 576px) {
    -webkit-clip-path: polygon(100% 0, 100% 93%, 82% 100%, 0 93%, 0 0);
  clip-path: polygon(100% 0, 100% 93%, 82% 100%, 0 93%, 0 0);
  }
  &_header{
      font-size: 2.8em;
      line-height: 1.1;
      letter-spacing: -.02em;
      margin-bottom: .5em;
      color: #111414;
  }
  p{
      border-bottom: 1px solid #cbcbcb;
  }
  .work{
    border-bottom: none;
  }

}
