.home{
    height: calc(100svh - 2.5em);
    display: flex;
    flex-direction: column-reverse;
    color: #111414;
        h2{
            font-size: 48px; 
            z-index: 2;
            font-weight: 600;
            line-height: 1.6;
            .C{
                background-image:url(./../../assets/clipart1793304.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                enable-background: accumulate;
            }
            .W{
                border: 3px solid pink;
                border-radius: 99em;
                padding: 0 4px 4px;
            }
        }
    &-img{
        position: relative;
        margin: auto;
        margin-top: -3em;
        width: 80%;
        transform: rotate(3deg);
        img{
            width: 100%;
        }
        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            left: 30px;
            bottom: 25px;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(200deg, transparent,#6EA4E0,#B6DC4C);
            border-radius: 1em;
            transform: rotate(2deg);
          }
    }
    @media screen and (min-width:787px) {
        height: 70vh;
        flex-direction: row-reverse;
        h2{
            margin: auto;
            font-size: 55px; 
            z-index: 2;
            font-weight: 400;
            padding-right: -30px;
        }
        &-img{
            margin: auto;
            margin-left: -10%;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
  }