.skill{
    div{
        text-align: center;
        border-bottom: 1px solid #cbcbcb;
        margin-bottom: 2em;
    }
    p{
        text-align: center;
        display: inline-block;
        text-align: center;
        width: 50%;
    }
} 