nav{
  opacity: 0;
  transition: all 0.5s linear;
  margin-top: calc(-1.2rem + -1%);
  position: sticky;
  top: 0;
  z-index: 100;
  height: auto;
  padding: auto;
  padding: 1%;
  background-color: whitesmoke;
  .navigation{
    flex-direction: row;
    justify-content: space-around;
    a{
      color: black;
      text-decoration: none;
    }
  }
  .menu__link {
    font-size: 1.2rem;
    transition: 0.5s;
    opacity: 0.75;
  }
  .val{
    a{
      color: #ff5e14;
      text-decoration: none;
    }
  text-align: center;
  font-size: 600;
  }
}
.visible{
  opacity: 1;
}
.projects{
  background-color: #181818;
  .navigation{
    a{
      color: whitesmoke;
    }
  }
}
