<nav *ngIf="visible"  [ngClass]="{'visible': scrolled, 'projects': black}">
  <div class="d-flex front cont">

    <div class="col-2 menu__link val">
      <a href="#home">Valerio</a>
    </div>
    <div class="navigation col-7 offset-3 d-flex">
      <div class="menu__link">
        <a href="#about">About</a>
      </div>
      <div class="menu__link">
        <a href="#project">Projects</a>
      </div>
      <div class="menu__link">
        <a href="#contact">Contact</a>
      </div>
    </div>
  </div>
</nav>

